@import url(./../../config/config.css);

.main-header {
  position: relative;
  z-index: 2000;
}

/* Botão hamburguer */
.menu-btn {
  position: fixed;
  top: 1vh;
  left: 1vh;
  width: 7vh;
  height: 7vh;
  background-color: var(--green-dark);
  color: var(--text-color);
  font-size: 3.5vh;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2100;
  transition: all 1.2s ease;
}

/* Sidebar (inicialmente fora da tela) */
.sidebar {
  position: fixed;
  top: 0;
  left: -16%; /* escondido */
  width: 16%;
  height: 100vh;
  background-color: var(--green-dark);
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 2px 0 10px rgba(0,0,0,0.6);
  transition: left 1.1s ease-out;
  z-index: 2000;
}

/* Quando aberto, aparece */
.sidebar.open {
  left: 0;
}

.menu-btn.open {
  background-color: var(--green-medium);
  left: 12%;
}

/* Menu dentro da sidebar */
.menu {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.menu li {
  width: 100%;
}

.menu a {
  display: flex;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
  padding: 2vh;
  width: 100%;
  font-size: 2.3vh;
  transition: background 0.3s;
}

.menu a:hover {
  background: var(--green-medium);
}

.menu i {
  font-size: 20px;
  min-width: 30px;
}

.menu span {
  margin-left: 1.5vh;
}
