@import url(./../../view/header/header.css);
@import url(./../../config/config.css);
@import url(./../../view/logo/logo.css);
@import url(./../../view/footer/footer.css);

body{
    width: 100vw;
    height: 250vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

main{
    width: 100vw;
    height: 220vh;
    display: flex;
    flex-direction: column;
    
}

#card_prev{
    background-color: red;

}

