@import url(./../../view/header/header.css);
@import url(./../../config/config.css);
@import url(./../../view/logo/logo.css);
@import url(./../../view/footer/footer.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: var(--black-dark);
  background: var(--beige-light);
}

main {
 display: flex;
 flex-direction: column;
 align-items: center;
  padding: 2vw 0;
}

#search-container {
  width: 80vw;
  margin: 5vh 0 2vh 0;
}

#search-input {
  width: 100%;
  padding: 2vh;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.11);

}

#btns_mae {
  width: 80vw;
  display: grid;
  justify-content: center;
    align-items: center;
  grid-template-columns: repeat(4, 18vw);
  gap: 2vh;
  overflow-x: auto;
  padding: 1rem;
  background: var(--green-medium);
  border-radius: 1rem;
}

.btns {
  background: var(--green-dark);
  color: var(--text-color);
  border: none;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  white-space: nowrap;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.btns:focus {
  outline: none;
  transform: skew(2deg) scale(1.05);
  -webkit-transform: skew(2deg) scale(1.05);
  -moz-transform: skew(2deg) scale(1.05);
}

.btns.active {
  background: var(--btn-active);
  text-shadow: 1px 4px 2px rgba(83,43,43,0.54);
  /* cor mais forte */
}

#infos_bt {
  margin-top: 3rem;
  width: 80vw;
  max-width: 90vw;
  background: var(--green-light);
  border-radius: 2rem;
  padding: 1.5rem;
  min-height: 60vh;
  position: relative;
   display: flex;
    justify-content: center;
  text-align: justify;
}

#info-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vh;
  height: 10vh;
  margin-top: 0;
  font-size: 1.75rem;
  font-weight: bold;
  background-color: var(--green-medium);
  border-radius: 20px;
    display: flex;
  align-items: center;
    justify-content: center;
}

#info-content {
  margin-top: 8vh;
  line-height: 1.5;
}