@import url(./../../view/header/header.css);
@import url(./../../config/config.css);
@import url(./../../view/logo/logo.css);
@import url(./../../view/footer/footer.css);
@import url(./CSS/search.css);
@import url(./CSS/btnsTheme.css);
@import url(./CSS/infosBt.css);
@import url(./CSS/placeholder.css);
@import url(./CSS/extraTip.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: var(--black-dark);
  background: var(--beige-light);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw 0;
}







