:root {
  --green-dark: #64AC7D;
  --green-medium: #A5CBA7;
  --green-light: #C7DAB7;
  --beige-light: #F0ECD9;
  --gray-medium: #797979;
  --gray-light: #EBEBEB;
  --black-dark: #262525;
  --text-color: rgb(255, 241, 241);
  --btn-active: #3e7c51;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}
