@import url(./../../view/header/header.css);
@import url(./../../config/config.css);
@import url(./../../view/logo/logo.css);
@import url(./../../view/footer/footer.css);
@import url(./css/feedback.css);
@import url(./css/cardFront.css);
@import url(./css/cardBack.css);
@import url(./css/cardAviso.css);

main {
  position: relative;
  width: 100vw;
  height: 80vh;
}

.fixed-bar{
  width: 8vh;
}
.fixed-bar.expanded {
  width: 32vh;
  /* abre espaço para o texto */
}
