@import url(./../../view/header/header.css);
@import url(./../../config/config.css);
@import url(./../../view/logo/logo.css);
@import url(./../../view/footer/footer.css);

body {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: #262525;
}

header {
  height: 10vh;
  width: 100vw;
}

main {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100vw;
  height: 10vh;
}

#chat {
  background-color: red;
  height: 90%;
  width: 60%;
  border-radius: 2vw;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;

}



#feedback1 {
  width: 60vw;
  height: 10vh;
  background-color: #FFFFFF;
  border-radius: 1vw;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  position: absolute;

  left: 95%;
  top: 19%;
}

#feedback2 {
  width: 60vw;
  height: 10vh;
  background-color: #FFFFFF;
  border-radius: 1vw;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  position: absolute;

  left: 95%;
  top: 31%;
}

#feedback3 {
  width: 60vw;
  height: 10vh;
  background-color: #FFFFFF;
  border-radius: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  position: absolute;

  left: 95%;
  top: 43%;
}

#feedback4 {
  width: 60vw;
  height: 10vh;
  background-color: #FFFFFF;
  border-radius: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  position: absolute;

  left: 95%;
  top: 55%;
}

#feedback5 {
  width: 60vw;
  height: 10vh;
  background-color: #FFFFFF;
  border-radius: 1vw;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  position: absolute;

  left: 95%;
  top: 67%;
}

#bola1 {
  background-color: #5EA7FF;
  width: 5%;
  height: 55%;
  border-radius: 25vw;
  margin-left: 1vw;
}

#bola2 {
  background-color: #ABFB4F;
  width: 5%;
  height: 55%;
  border-radius: 25vw;
  margin-left: 1vw;
}

#bola3 {
  background-color: #FFEA00;
  width: 5%;
  height: 55%;
  border-radius: 25vw;
  margin-left: 1vw;
}

#bola4 {
  background-color: #FF771C;
  width: 5%;
  height: 55%;
  border-radius: 25vw;
  margin-left: 1vw;
}

#bola5 {
  background-color: #D51717;
  width: 5%;
  height: 55%;
  border-radius: 25vw;
  margin-left: 1vw;
}

#text_chat {

  width: 80%;
  height: 80%;
  border-radius: 3vw;
  display: flex;
  align-items: start;
  overflow-x: hidden;
  resize: none;
  padding: 2vw;
  margin-bottom: 4vw;
  scrollbar-width: none;
}

#btnchat {
  width: 6%;
  height: 10%;
  border-radius: 25vw;
  margin-bottom: 5vw;
}


#feedback1,
#feedback2,
#feedback3,
#feedback4,
#feedback5 {
  transition: left 0.5s ease;
}

#feedback1:hover,
#feedback2:hover,
#feedback3:hover,
#feedback4:hover,
#feedback5:hover {
  left: 80%;
}


#chat-container {
  perspective: 1000px;
  height: 90%;
  width: 60%;
  position: relative;
}

#chat {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2vw;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Frente*/
.card-front {
  background-color: #F0ECD9;
  flex-direction: row;
  align-items: end;
  justify-content: space-around;
  padding: 2vw;
}

/* Verso*/
.card-back {
  background-color: #F0ECD9;
  color: black;
  font-size: 2rem;
  transform: rotateY(180deg);
}

/* Estilo do botão */
#btnchat {
  width: 6%;
  height: 10%;
  background-color: #797979;
  border-radius: 25vw;
  margin-bottom: 5vw;
  cursor: pointer;

}

/* Estilo do input */
#text_chat {
  width: 80%;
  height: 80%;
  border-radius: 3vw;
  resize: none;
  padding: 2vw;
  margin-bottom: 4vw;
  scrollbar-width: none;
  overflow-x: hidden;
}

/* Quando clicado, gira o chat */
#flip:checked~#chat-container #chat {
  transform: rotateY(180deg);
}