.logoType {
    top: 0%;
    left: 35%;
    border-radius: 0 0 20px 20px;
    position: relative;
    width: 70vh;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.116);
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

.logo {
    position: absolute;
    width: 25vh;
    height: 15vh;
    z-index: 999;
    background-size: cover;
    transition: all 2s ease-in-out;
}

.logo:hover {
    margin-top: 1vh;
    transform: scale(1.2);
    animation: pulse 2s infinite;
}

@keyframes pulse {

    0%,
    100% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-10deg);
    }
}